<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Menu Page</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <!-- Include the navigation bar -->
    <nav>
        <a href="/">Home</a>
        <a href="/menu">Full Menu</a>
      </nav>
      
    <!-- Menu content -->
    <h1>Welcome to the Menu Page</h1>
    <p>Here is the menu content...</p>
     <!-- new links below-->
     <a href="/menu/mains">Mains</a>
     <a href="/menu/desserts">Desserts</a>
     <a href="/menu/sides">Sides</a>
</body>
</html>
